<!DOCTYPE html>
{% raw %}
<html lang="en" ng-app="mainApp">
<head>
    <title>815-monitoring scene</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link href="static/assets/css/bootstrap.css" rel="stylesheet" type='text/css'/>
    <link href="static/assets/css/font-awesome.css" rel="stylesheet" type='text/css'/>
    <link href='static/assets/css/font-Lobster.css' rel='stylesheet' type='text/css' />
    <link href="static/assets/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="static/assets/css/toastr.css" rel="stylesheet" type="text/css"/>
    <script src="static/assets/js/angular.js"></script>
    <script src="static/assets/js/angular-resource.js"></script>
</head>

<body ng-controller="mainCtrl">
<div id="container"></div>
<div id="coords"></div>
<div id="info">
    Labroom_815_monitoring
</div>
<div id="Loading"></div>
<div id ="allDevice">
    <table id="allDeviceTable" class="table table-hover">
        <thead>
            <tr>
                <td colspan="2">
                    <div class="input-group"  id="searchDeviceDiv">
                        <input type="text" class="form-control" placeholder="请输入设备名称..." id="searchDevice">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" id="btn" ng-click="searchDeviceInfo()"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="font-weight: bold;">设备id</td>
                <td style="font-weight: bold;">设备名称</td>
            </tr>
        </thead>
        <tbody id="showDevice">
           <tr ng-repeat="data in deviceList" ng-click="show(data)">
               <td>{{data.id}}</td>
               <td>{{data.name}}</td>
           </tr>
        </tbody>
    </table>
    
    <button class="btn btn-default button" style="opacity: 0.2;" id="pre" ng-click="prePage()">上一页</button>
    <button class="btn btn-default button" style="opacity: 0.2;" id="next" ng-click="nextPage()">下一页</button>
           
       
    
</div>
<div id ="showDeviceInfo">
    <table class="table table-hover">
    <thead>
        <tr>
           <th>{{name}}</th>
           <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>设备ID:</td>
            <td>{{id}}</td>
        </tr>
        <tr>
            <td>父类设备:</td>
            <td>{{parentDeviceId}}</td>
        </tr>
        <tr>
            <td>厂商：</td>
            <td>{{manufacture}}</td>
        </tr>
        <tr>
            <td>设备类型:</td>
            <td>{{deviceType}}</td>
        </tr>
        <tr>
            <td>型号：</td>
            <td>{{model}}</td>
        </tr>
        <tr>
            <td>状态：</td>
            <td>{{status}}</td>
        </tr>
        <tr>
            <td>位置：</td>
            <td>{{location}}</td>
        </tr>
    </tbody>
</table>
</div>

<script src="static/assets/js/jquery-1.11.1.js"></script>
<script src="static/gis_815/three.min.js"></script>
<!-- <script src="build/three.js"></script> -->
<script src="static/gis_815/js/libs/stats.min.js"></script>
<script src="static/gis_815/js/libs/dat.gui.min.js"></script>
<script src="static/gis_815/js/controls/OrbitControls.js"></script>
<script src="static/gis_815/js/controls/TransformControls.js"></script>
<script src="static/gis_815/js/controls/PointerLockControls.js"></script>
<script src="static/gis_815/js/loaders/STLLoader.js"></script>
<script src="static/gis_815/js/Detector.js"></script>
<script src="static/gis_815/DRACOLoader.js"></script>
<script src="static/gis_815/geometry_helper.js"></script>
<script src="static/gis_815/draco_decoder.js"></script>
<script src="static/assets/js/bootstrap.js"></script>

<script src="static/assets/js/815_scene.js"></script>
<script src="static/assets/js/mainCtrl.js"></script>
<script src="static/assets/js/toastr.js"></script>
</body>


</html>

{% endraw %}