<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

	<script src="http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../static/baidu/css/demo.css"/>
    <link rel="stylesheet" href="../static/baidu/css/public.css"/>
    <!-- <link rel="stylesheet" href="../static/baidu/css/style.css"/> -->
    <link rel="stylesheet" href="../static/baidu/css/style1.css"/>
    <link rel="stylesheet" href="../static/baidu/css/bootstrap.css"/>
    <link rel="stylesheet" href="../static/baidu/css/bootstrap-switch.css"/>
    <link rel="stylesheet" href="../static/baidu/css/font-awesome.css"/>
	<title>列表展示</title>
</head>
<style>
</style>
<body>
<section class="sec-menu" >
    <div class="container"  style="margin: 0;width:100%;">
        <div class="row" id="head-menu">
            <div class="col-md-1 col-sm-1">
                                <span class="menu-open-icon">
                                    <i class="fa fa-bars pull-left fa-2x b-clr"></i>
                                </span>
                            </div>
                        <div class="col-md-7 col-sm-12" >
                            <i class="pull-left"> 欢迎来到3DGIS平台 &nbsp;&nbsp;</i>
                        </div>
                        <div class="">
                <span id="time" style=" font-family:'黑体'; font-size:20px;">2015年1月1日 11:11  星期一</span>
            </div>
            <div class="col-md-1 col-sm-12">
                <input type="button" class="btn btn-danger" value="返回首页" id="quit" onclick="window.location.href= '/?id='+tenantId"/>
                <!-- <a href="/"><input type="button" class="btn btn-danger" value="退出登录" id="quit" ng-click="logout()"/></a> -->
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-12">
            </div>
        </div> -->
    </div>
</section>

<div id="side-menu">
        <ul>
             <li style="border-bottom:0px;">
             <a href="#" title="close"> <i class="fa fa-close fa-2x menu-close-icon b-clr"></i></a>
            </li>
            <li class="side-menu-icon">
                <a href="javascript:void(0);" title="首页" onclick="lookMap()">
                    <i class="fa fa-home fontStyle"></i>
                    <span class="textStyle">地图展示</span>
                </a>

            </li>
            <li class="side-menu-icon">
             <a href="" title="设备列表" onclick="">
                 <i class="fa fa-file-text-o fontStyle"></i>
                 <span class="textStyle">设备列表</span>
             </a>
            </li>
        </ul>  
</div>

<!--主体内容-->
<section class="publicMian">
    <!-- <div class="left">
        <h2 class="leftH2"><span ></span>设备列表<span></span></h2>
    </div>
 --><div class="right1" >
        <div class="location">
                <span>设备列表</span>
            </div>

        <div class="search">
            <span>站点ID：</span>
            <input type="text" id="searchValue"  onkeyup="deviceSearch1()" placeholder="请输入设备名称"/>
            <input type="button" id='keyup' value="查询" " onclick="deviceSearch()" />
        </div>
        <div id="deviceList" style="height: 80%; overflow-y: scroll ">

        <table id ="myTable1" class="table table-striped" style=" font-size:15px;">
            <tr class="firstTr" >
                <th width="25%" style=" font-size:20px;">设备ID</th>
                <th width="10%" style=" font-size:20px;">租户名称</th>
                <th width="10%" style=" font-size:20px;">租户ID</th>
                <th width="10%" style=" font-size:20px;">设备名称</th>
                <th width="20%" style=" font-size:20px;">设备组ID</th>
                <th width="10%" style=" font-size:20px;">所属站点</th>
                <th width="15%" style=" font-size:20px;">操作</th>
            </tr>
        </table>
        <div id='btn1'>
            <button class="btn btn-primary" style="margin-right: 30px" id="pre" onclick="prePage()">上一页</button>
            <button class="btn btn-primary" style="margin-left: 30px" id="next" onclick="nextPage()">下一页</button>
        </div>
    </div>

    <!-- <div id="right1" class="right1">
        <div class="search">
            <span>站点ID：</span>
            <input type="text" id="searchValue1"  onkeyup="siteSearch1()" placeholder="请输入站点ID"/>
            <input type="button" id='keyup' value="查询" onclick="deviceSearch()" /><span>X</span>
        </div>
        供应商操作表格
        <table id ="myTable1" class="providerTable" cellpadding="0" cellspacing="0">
            <tr class="firstTr">
                <th width="30%">设备ID</th>
                <th width="10%">租户名称</th>
                <th width="10%">用户ID</th>
                <th width="20%">设备名称</th>
                <th width="10%">设备组ID</th>
                <th width="20%">操作</th>
            </tr>
        </table>

    </div> -->

<div class="modal fade" tabindex="-1" role="dialog" id="addDevice">
        <!--.modal:指定为模态框      fade:淡入淡出效果     tabindex="-1":不受tab键控制    role="dialog":指定模态框为对话框-->
        <div class="modal-dialog" role="document" style="width:1000px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                    <h4 class="modal-title" style="font-weight: bold;">分配站点</h4>
                </div>
                <div class="modal-body" id="deviceInfo">
                    <table id ="myTable2" class="table table-striped" cellpadding="0" cellspacing="0" >
            <tr class="firstTr">
                <th width="30%">设备ID</th>
                <th width="10%">租户名称</th>
                <th width="10%">用户ID</th>
                <th width="20%">设备名称</th>
                <th width="10%">设备组ID</th>
                <th width="20%">操作</th>
            </tr>
        </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="modalClose" onclick="
                    closeWin()">关闭</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="modalConfirm" onclick="markfinish()">确定</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

<div class="modal fade" tabindex="-1" role="dialog" name="addSites" id="addSites">
        <!--.modal:指定为模态框      fade:淡入淡出效果     tabindex="-1":不受tab键控制    role="dialog":指定模态框为对话框-->
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                    <h4 class="modal-title" style="font-weight: bold;">添加站点</h4>
                </div>
                <div class="modal-body" id="deviceInfo">
                    <table class="table table-striped table-hover" >
                        <tbody>
                        <tr>
                            <td class="attName">用户ID：</td>
                            <td><input type="text"  name="tenantId1" id="tenantId1" required autocomplete="off" 
                            disabled="true"/>
                            <span>*</span></td>
                        </tr>
                        <tr>
                            <td class="attName">设备名称:</td>
                            <td>
                                <input type="text"  name="deviceName" id="deviceName" required autocomplete="off" disabled="true"/>
                            <span>*</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="attName">站点名称:</td>
                            <td>
                                 <select  name="siteId2" id="siteId2" ng-change="getCreateManufacture()" ng-model="myManufacturer"  style="width:170px">
                                </select>
                    </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="modalClose" >关闭</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="modalConfirm" onclick="siteDistribute()">确定</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</section>
</body>

<script type="text/javascript" src="../static/baidu/baidujs/sitesList.js"></script>
<script type="text/javascript" src="../static/baidu/baidujs/time.js"></script>
<script type="text/javascript" src="../static/baidu/baidujs/menuCtrl.js"></script>

</html>
<script type="text/javascript">
	
</script>
