<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

	<script src="../static/js/jquery.min.js"></script>
	<script type="text/javascript" src="../static/baidu/baidujs/area.js"></script>
	<script type="text/javascript" src="../static/baidu/baidujs/areaDemo.js"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=mmDe8x697yXU4Xx4D59Kp2nkE0Szww48"></script>
	<script type="text/javascript" src="../static/baidu/baidujs/MarkerTool.js"></script>
	<script type="text/javascript" src="../static/baidu/baidujs/DistanceTool.js"></script>
	<script type="text/javascript" src="../static/baidu/baidujs/DrawingManager.js"></script>
	<!-- <script type="text/javascript" src="./js/TextIconOverlay.js"></script> -->
	<script type="text/javascript" src="../static/baidu/baidujs/SearchInfoWindow.js"></script>
    <script type="text/javascript" src="../static/baidu/baidujs/searchInRectangle.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/GeoUtils/1.2/src/GeoUtils_min.js"></script>
	<link rel="stylesheet" href="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.css" />
    <link rel="stylesheet" href="../static/baidu/css/demo.css"/>
    <link rel="stylesheet" href="../static/baidu/css/public.css"/>
    <link rel="stylesheet" href="../static/baidu/css/style.css"/>
	<title>列表展示</title>
</head>

<body>
<!-- <link rel="import" href="page/baiduDemo.html" id="page1"> -->
<header class="publicHeader">
    <h1>列表展示</h1><h1><a href="baidu">地图展示</a></h1>
    <div class="publicHeaderR">
        <p><span>下午好！</span><span style="color: #fff21b"> Admin</span> , 欢迎你！</p>
        <a href="login.html">退出</a>
    </div>
</header>
<section class="publicTime">
    <span id="time">2015年1月1日 11:11  星期一</span>
</section>
<!--主体内容-->
<section class="publicMian">
    <div class="left">
        <h2 class="leftH2"><span class="span1"></span>功能列表 <span></span></h2>
        <nav>
            <ul class="list">
                <li><input type="button" class="anjian" value="测距" onclick="myDis.open();"  /></li>
                <li><input type="button" class="anjian" value="输入经纬度标注" onclick="mark1();" /></li>
                <li><input type="button" class="anjian" value="点击添加标注"  onclick="mark2();" /></li>
                <li><input type="button" class="anjian" value="绘制覆盖物个数" onclick="alert(overlays.length)"/></li>
                <li><input type="button" class="anjian" value="清除所有覆盖物" onclick="clearAll()"/></li> 
                <!-- <li><input type="button" class="anjian" value="开启"  id="searchOn" /></li>
                <li><input type="button" class="anjian" value="关闭" id="searchOff" /></li> -->
                <li><input type="button" class="anjian" value="批量反地址解析" id ="jiexi"/></li>
            </ul>
        </nav>
        
    </div>
<div class="right">
        <div class="search">
            <span>站点ID：</span>
            <input type="text" id="searchValue"  onkeyup="siteSearch1()" placeholder="请输入站点ID"/>
            <input type="button" id='keyup' value="查询" onclick="siteSearch()" />
        </div>
        <!--供应商操作表格-->
        <table id ="myTable" class="providerTable" cellpadding="0" cellspacing="0">
            <tr class="firstTr">
                <th width="10%">站点ID</th>
                <th width="20%">站点名称</th>
                <th width="10%">用户ID</th>
                <th width="10%">经度</th>
                <th width="10%">纬度</th>
                <th width="10%">创建时间</th>
                <th width="30%">操作</th>
            </tr>
            <!-- <tr class="secondTr">
                <td id="firstTd1"></td>
                <td id="firstTd2"></td>
                <td id="firstTd3"></td>
                <td id="firstTd4"></td>
                <td id="firstTd5"></td>
                <td id="firstTd6"></td>
                <td>
                    <a href="providerView.html"><img src="img/read.png" alt="查看" title="查看"/></a>
                    <a href="providerUpdate.html"><img src="img/xiugai.png" alt="修改" title="修改"/></a>
                    <a href="#" class="removeProvider"><img src="img/schu.png" alt="删除" title="删除"/></a>
                </td>
            </tr> -->
        </table>
        <span id="spanFirst">第一页</span>   
        <span id="spanPre">上一页</span>   
        <span id="spanNext">下一页</span>   
        <span id="spanLast">最后一页</span>   
        第<span id="spanPageNum"></span>页/共<span id="spanTotalPage"></span>页 

    </div>

    <div id='div1' class="providerAdd">
            <form >
                <!--div的class 为error是验证错误，ok是验证成功-->
                <b>长传场景</b>
                <div class="">
                    <label for="siteId">站点ID：</label>
                    <input type="text" name="siteId" id="siteId" autocomplete="off"/>
                    <span></span>
                </div>
                <div>
                    <label for="modelName">模型命名：</label>
                    <input type="text" name="modelName" id="modelName" autocomplete="off"/>
                    <span >*</span>
                </div>
                <div>
                    <label for="other">其他：</label>
                    <input type="text" name="other" id="other" autocomplete="off"/>
                    <span></span>

                </div>
                <div>
                    <label for="fileImport">模型文件：</label>
                    <!-- <input type="text" name="fileImport" id="fileImport"/> -->
                    <input type="file" name="fileToUpload" id="fileToUpload" onchange="fileSelected();" autocomplete="off"/>
                </div>

                <div class="progressNumber">
                    <progress max="100" value="0" id="progressNumber"></progress> 
                </div>
                <div class="providerAddBtn">
                    <!--<a href="#">保存</a>-->
                    <!--<a href="providerList.html">返回</a>-->
                    <input type="button" value="上传" onclick="uploadFile()"/>
                    <input type="button" value="返回" onclick="CloseDiv1()"/>
                </div>
            </form>
        </div>

<div id='div2' class="providerAdd">
            <form >
                <b>修改站点</b>
                <div class="">
                    <label for="siteOldID">站点ID：</label>
                    <input type="text" name="siteOldID" id="siteOldID" autocomplete="off"/>
                    <span></span>
                </div>
                <div>
                    <label for="siteOldName">站点原名：</label>
                    <input type="text" name="siteOldName" id="siteOldName" autocomplete="off"/>
                    <span ></span>
                </div>
                <div>
                    <label for="siteNewName">重命名：</label>
                    <input type="text" name="siteNewName" id="siteNewName" required autocomplete="off"/>
                    <span>*</span>
                </div>
                <div class="providerAddBtn">
                    <!--<a href="#">保存</a>-->
                    <!--<a href="providerList.html">返回</a>-->
                    <input type="submit" value="保存" onclick="renameSite1();"/>
                    <input type="button" value="返回" onclick="CloseDiv2()"/>
                </div>
            </form>
        </div>

<div id='nav' class="providerAdd">
            <form >
             <b>添加站点</b>
                <div class="">
                    <label for="longitude">经度：</label>
                    <input name=txt1 id="longitude" value="116.404" onchange="if(/[^\-?\d.]/g.test(this.value)){alert('只能输入数字'); this.value='';}" required autocomplete="off">
                    <span>*</span>
                </div>
                <div>
                    <label for="latitude">纬度：</label>
                   <input name=txt1 id="latitude" value="39.915" onchange="if(/[^\-?\d.]/g.test(this.value)){alert('只能输入数字'); this.value='';}" required autocomplete="off">
                    <span >*</span>
                </div>
                <div>
                    <label for="name1">名称：</label>
                    <input type="text" name="name1" id="name1" required/ autocomplete="off">
                    <span>*</span>

                </div>
                <div>
                    <label for="scenesID">场景ID：</label>
                    <input type="text" name="scenesID" id="scenesID" required/ autocomplete="off">
                    <span>*</span>
                </div>

                <div class="providerAddBtn">
                    <!--<a href="#">保存</a>-->
                    <!--<a href="providerList.html">返回</a>-->
                    <input type="submit" value="确认" onclick="markfinish();"/>
                    <input type="button" value="返回" onclick="closeWin();"/>
                </div>
            </form>
        </div>

</section>
</body>

<script type="text/javascript" src="../static/baidu/baidujs/sitesList.js"></script>
<script type="text/javascript" src="../static/baidu/baidujs/time.js"></script>

</html>
<script type="text/javascript">
	
</script>
