<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

	<script src="../static/js/jquery.min.js"></script>
	<script type="text/javascript" src="../static/baidu/baidujs/area.js"></script>
	<script type="text/javascript" src="../static/baidu/baidujs/areaDemo.js"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=mmDe8x697yXU4Xx4D59Kp2nkE0Szww48"></script>
	<script type="text/javascript" src="../static/baidu/baidujs/MarkerTool.js"></script>
	<script type="text/javascript" src="../static/baidu/baidujs/DistanceTool.js"></script>
	<script type="text/javascript" src="../static/baidu/baidujs/DrawingManager.js"></script>
	<!-- <script type="text/javascript" src="./js/TextIconOverlay.js"></script> -->
	<script type="text/javascript" src="../static/baidu/baidujs/SearchInfoWindow.js"></script>
    <script type="text/javascript" src="../static/baidu/baidujs/searchInRectangle.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/GeoUtils/1.2/src/GeoUtils_min.js"></script>
	<link rel="stylesheet" href="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.css" />
    <link rel="stylesheet" href="../static/baidu/css/demo.css"/>
    <link rel="stylesheet" href="../static/baidu/css/public.css"/>
    <link rel="stylesheet" href="../static/baidu/css/style.css"/>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/baidu/css/style1.css"/>
    <link rel="stylesheet" href="../static/baidu/css/bootstrap.css"/>
    <link rel="stylesheet" href="../static/baidu/css/bootstrap-switch.css"/>
	<title>列表展示</title>
</head>

<body>
<section class="sec-menu" >
    <div class="container"  style="margin: 0;width:100%;">
        <div class="row" id="head-menu">
<div class="col-md-1 col-sm-1">
                    <span class="menu-open-icon">
                        <a href="/baidu" target="_self">地图</a>
                    </span>
                </div>
            <div class="col-md-5 col-sm-12" >
                <i class="pull-left"> 欢迎来到3DGIS平台 &nbsp;&nbsp;</i>
            </div>
            <div class="col-md-4 col-sm-12">
    <span id="time">2015年1月1日 11:11  星期一</span>
</div>
            <div class="col-md-1 col-sm-12">
                <input type="button" class="btn btn-danger" value="返回首页" id="quit" onclick="window.location.href= '/?id={{tenantId}}'"/>
                <!-- <a href="/"><input type="button" class="btn btn-danger" value="退出登录" id="quit" ng-click="logout()"/></a> -->
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-12">

            </div>
        </div> -->
    </div>

</section>
<!--主体内容-->
<section class="publicMian">
    <div class="left">
        <h2 class="leftH2"><span ></span>设备列表 <span></span></h2>
    </div>
<div class="right">
        <div class="search">
            <span>站点ID：</span>
            <input type="text" id="searchValue"  onkeyup="siteSearch1()" placeholder="请输入设备名称"/>
            <input type="button" id='keyup' value="查询" style="text-align: middle;" onclick="deviceSearch()" />
        </div id="deviceList">
        <!--供应商操作表格-->
      <!--   <table id ="myTable" class="providerTable" cellpadding="0" cellspacing="0">
            <tr class="firstTr">
                <th width="10%">站点ID</th>
                <th width="20%">站点名称</th>
                <th width="10%">用户ID</th>
                <th width="10%">经度</th>
                <th width="10%">纬度</th>
                <th width="10%">创建时间</th>
                <th width="10%">状态</th>
                <th width="20%">操作</th>
            </tr> -->
            <!-- <tr class="secondTr">
                <td id="firstTd1"></td>
                <td id="firstTd2"></td>
                <td id="firstTd3"></td>
                <td id="firstTd4"></td>
                <td id="firstTd5"></td>
                <td id="firstTd6"></td>
                <td>
                    <a href="providerView.html"><img src="img/read.png" alt="查看" title="查看"/></a>
                    <a href="providerUpdate.html"><img src="img/xiugai.png" alt="修改" title="修改"/></a>
                    <a href="#" class="removeProvider"><img src="img/schu.png" alt="删除" title="删除"/></a>
                </td>
            </tr> -->
        <!-- </table> -->
        <table id ="myTable1" class="table table-striped" cellpadding="0" cellspacing="0" >
            <tr class="firstTr">
                <th width="30%">设备ID</th>
                <th width="10%">租户名称</th>
                <th width="10%">用户ID</th>
                <th width="20%">设备名称</th>
                <th width="20%">设备组ID</th>
                <th width="10%">操作</th>
            </tr>
        </table>
<!--         <span id="spanFirst">第一页</span>   
        <span id="spanPre">上一页</span>   
        <span id="spanNext">下一页</span>   
        <span id="spanLast">最后一页</span>   
        第<span id="spanPageNum"></span>页/共<span id="spanTotalPage"></span>页 --> 

    </div>

    <!-- <div id="right1" class="right1">
        <div class="search">
            <span>站点ID：</span>
            <input type="text" id="searchValue1"  onkeyup="siteSearch1()" placeholder="请输入站点ID"/>
            <input type="button" id='keyup' value="查询" onclick="deviceSearch()" /><span>X</span>
        </div>
        供应商操作表格
        <table id ="myTable1" class="providerTable" cellpadding="0" cellspacing="0">
            <tr class="firstTr">
                <th width="30%">设备ID</th>
                <th width="10%">租户名称</th>
                <th width="10%">用户ID</th>
                <th width="20%">设备名称</th>
                <th width="10%">设备组ID</th>
                <th width="20%">操作</th>
            </tr>
        </table>

    </div> -->

<div class="modal fade" tabindex="-1" role="dialog" id="addDevice">
        <!--.modal:指定为模态框      fade:淡入淡出效果     tabindex="-1":不受tab键控制    role="dialog":指定模态框为对话框-->
        <div class="modal-dialog" role="document" style="width:1000px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                    <h4 class="modal-title" style="font-weight: bold;">分配站点</h4>
                </div>
                <div class="modal-body" id="deviceInfo">
                    <table id ="myTable2" class="table table-striped" cellpadding="0" cellspacing="0" >
            <tr class="firstTr">
                <th width="30%">设备ID</th>
                <th width="10%">租户名称</th>
                <th width="10%">用户ID</th>
                <th width="20%">设备名称</th>
                <th width="10%">设备组ID</th>
                <th width="20%">操作</th>
            </tr>
        </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="modalClose" onclick="
                    closeWin()">关闭</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="modalConfirm" onclick="markfinish()">确定</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

<div class="modal fade" tabindex="-1" role="dialog" name="addSites" id="addSites">
        <!--.modal:指定为模态框      fade:淡入淡出效果     tabindex="-1":不受tab键控制    role="dialog":指定模态框为对话框-->
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                    <h4 class="modal-title" style="font-weight: bold;">添加站点</h4>
                </div>
                <div class="modal-body" id="deviceInfo">
                    <table class="table table-striped table-hover" >
                        <tbody>
                        <tr>
                            <td class="attName">用户ID：</td>
                            <td><input type="text"  name="tenantId1" id="tenantId1" required autocomplete="off" />
                            <span>*</span></td>
                        </tr>
                        <tr>
                            <td class="attName">设备名称:</td>
                            <td>
                                <input type="text"  name="deviceName" id="deviceName" required autocomplete="off" />
                            <span>*</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="attName">站点ID:</td>
                            <td>
                                 <select  name="siteId2" id="siteId2" ng-change="getCreateManufacture()" ng-model="myManufacturer"  style="width:170px">
                                </select>
                    </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="modalClose" >关闭</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="modalConfirm" onclick="markfinish()">确定</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div id='div1' class="providerAdd">
            <form >
                <!--div的class 为error是验证错误，ok是验证成功-->
                <b>长传场景</b>
                <div class="">
                    <label for="siteId">站点ID：</label>
                    <input type="text" name="siteId" id="siteId" autocomplete="off"/>
                    <span></span>
                </div>
                <div>
                    <label for="modelName">模型命名：</label>
                    <input type="text" name="modelName" id="modelName" autocomplete="off"/>
                    <span >*</span>
                </div>
                <div>
                    <label for="other">其他：</label>
                    <input type="text" name="other" id="other" autocomplete="off"/>
                    <span></span>

                </div>
                <div>
                    <label for="fileImport">模型文件：</label>
                    <!-- <input type="text" name="fileImport" id="fileImport"/> -->
                    <input type="file" name="fileToUpload" id="fileToUpload" onchange="fileSelected();" autocomplete="off"/>
                </div>

                <div class="progressNumber">
                    <progress max="100" value="0" id="progressNumber"></progress> 
                </div>
                <div class="providerAddBtn">
                    <!--<a href="#">保存</a>-->
                    <!--<a href="providerList.html">返回</a>-->
                    <input type="button" value="上传" onclick="uploadFile()"/>
                    <input type="button" value="返回" onclick="CloseDiv1()"/>
                </div>
            </form>
        </div>

<div id='div2' class="providerAdd">
            <form >
                <b>修改站点</b>
                <div class="">
                    <label for="siteOldID">站点ID：</label>
                    <input type="text" name="siteOldID" id="siteOldID" autocomplete="off"/>
                    <span></span>
                </div>
                <div>
                    <label for="siteOldName">站点原名：</label>
                    <input type="text" name="siteOldName" id="siteOldName" autocomplete="off"/>
                    <span ></span>
                </div>
                <div>
                    <label for="siteNewName">重命名：</label>
                    <input type="text" name="siteNewName" id="siteNewName" required autocomplete="off"/>
                    <span>*</span>
                </div>
                <div class="providerAddBtn">
                    <!--<a href="#">保存</a>-->
                    <!--<a href="providerList.html">返回</a>-->
                    <input type="submit" value="保存" onclick="renameSite1();"/>
                    <input type="button" value="返回" onclick="CloseDiv2()"/>
                </div>
            </form>
        </div>

<div id='nav' class="providerAdd">
            <form >
             <b>添加站点</b>
                <div class="">
                    <label for="longitude">经度：</label>
                    <input name=txt1 id="longitude" value="116.404" onchange="if(/[^\-?\d.]/g.test(this.value)){alert('只能输入数字'); this.value='';}" required autocomplete="off">
                    <span>*</span>
                </div>
                <div>
                    <label for="latitude">纬度：</label>
                   <input name=txt1 id="latitude" value="39.915" onchange="if(/[^\-?\d.]/g.test(this.value)){alert('只能输入数字'); this.value='';}" required autocomplete="off">
                    <span >*</span>
                </div>
                <div>
                    <label for="name1">名称：</label>
                    <input type="text" name="name1" id="name1" required/ autocomplete="off">
                    <span>*</span>

                </div>
                <div>
                    <label for="scenesID">场景ID：</label>
                    <input type="text" name="scenesID" id="scenesID" required/ autocomplete="off">
                    <span>*</span>
                </div>

                <div class="providerAddBtn">
                    <!--<a href="#">保存</a>-->
                    <!--<a href="providerList.html">返回</a>-->
                    <input type="submit" value="确认" onclick="markfinish();"/>
                    <input type="button" value="返回" onclick="closeWin();"/>
                </div>
            </form>
        </div>

</section>
</body>

<script type="text/javascript" src="../static/baidu/baidujs/sitesList.js"></script>
<script type="text/javascript" src="../static/baidu/baidujs/time.js"></script>

</html>
<script type="text/javascript">
	
</script>
