body {
    background-color: #fff;
    margin: 0px;
    overflow: hidden;
    font-size:14px;
    text-align:center;
    font-weight: bold;

    font-family: "Microsoft YaHei";
}

#info {
    color:#fff;
    position: absolute;
    top: 0px; width: 100%;
    padding: 5px;
    margin: 0px;
}

#Loading {
    color:#fff;
    position: absolute;
    top:45%;width: 100%;
    padding: 5px;
    margin: 0px;
    z-index: 10;
    font-size: 30px;
}
#coords{ width:136px; height:60px; top:0px;position:absolute;
         background-color:rgba(255,255,255,0.1);color:white ;
         z-index:3;font-weight:normal }
#allDevice,#searchBanner,#packUpDiv{ 
    position:absolute;
    background-color:rgba(255,255,255,0.1);
    /* color:#5087c3 ; */
    z-index:3;
    font-weight:normal;
}
/* #allDevice{
    width:500px;
    height: 530px;
    position:absolute;
    background-color:rgba(255,255,255,0.1);
    color:#305680;
    z-index:3;
    font-weight:normal;
    } */
#allDevice{
    top:110px;
    width:500px; 
    color:#305680;
    /* height: 450px; */
    display: none;
}
#searchBanner{
    top:75px;
    left: 30px;
    /* width:470px;  */
    width: 0px;
    height: 35px;

}

#showDeviceInfo{
    top:190px;
    right: 15px;
    height: 390px;
    background-color:rgba(49, 47, 47, 1);
    color:#5087c3;
    width:500px;
    position:absolute;
    z-index:3;
    font-weight: bold;
    border-radius:12px;
}
#allDeviceTable tr td{
    width: 50%;
    cursor: pointer;
}
#searchDeviceDiv{
       float: left;
       opacity: 0;
       width: 85%;
       padding-left: 15px;
       /* display: none; */
}
#searchDevice{
    width: 345px;
}
#showDevice{
    font-weight: bold;
}
#addModel{
    top:150px;
    right: 550px;
    height: 300px;
    width:265px;
    background-color:rgba(49, 47, 47, 1);
    color:#5087c3;
    position:absolute;
    z-index:3;
    font-weight: bold;
    border-radius:12px;
}
#tabs{
    background-color:rgba(49, 47, 47, 1);
    color:#5087c3;
}
#arrow{
    top: 75px;
    position: absolute;
    width: 180px;
    height: 440px;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    z-index: 0;

}
#arrow .active {
    display: block;
    color: #000;
    padding: 15px 20px;
    text-decoration: none;
    text-align: left;
    border-bottom: 1px dashed #000000;
    cursor: pointer;

}
#arrow .active:hover{
    color: #5087c3;

}
.centerMove{
    margin-left: 20px;
}


#icon{
    font-size: 20px;
    color: white;
    margin-top: 8px;
    margin-right: 15px;
   
}
#iconSpan{

    margin-right: 5px;
    cursor: pointer;
    display: none;
}
#packUp{
    font-size: 20px;
    color: white;
    margin-top: 8px;
    margin-left: 15px;
}
#packUpSpan{
    float: left;
    cursor: pointer;
}
#packUpDiv{
    top: 75px;
    width: 30px;
    float: left;
    height: 35px;
}
#pre,#next{
    opacity: 0.2;
    margin-bottom: 20px;
}
#backList{
    float: right;
    margin-right: 12px;
    cursor: pointer;
    color: white;

}
.fontColor{
    color: #5087c3;
    text-align: left;
    margin-left: 0px;
    position: relative;
}
#updatePosition{
    top:150px;
    right: 550px;
    height: 400px;
    width:230px;
    background-color:rgba(49, 47, 47, 1);
    color:#5087c3;
    position:absolute;
    z-index:3;
    font-weight: bold;
    border-radius:12px;
}
.fontColors{
    color: #5087c3;
    text-align: left;
    margin-left: 5px;
    position: relative;
}
.fileInput{
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.fileInput input{
    position: absolute;
    right: 0px;
    top: 0px;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
}
.control-label{
    color: #5087c3;
}

/*显示提示框---菜单*/
#packUpSpan {
    position: relative;
    display: inline-block;
    
}

#packUpSpan .tooltiptext {
    visibility: hidden;
    width: 55px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -15px;

}

#packUpSpan .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

#packUpSpan:hover .tooltiptext {
    visibility: visible;
}
