body {
    background-color: #fff;
    margin: 0px;
    overflow: hidden;
    font-size:14px;
    text-align:center;
    font-weight: bold;

    font-family: "Microsoft YaHei";
}

#info {
    color:#fff;
    position: absolute;
    top: 0px; width: 100%;
    padding: 5px;
    margin: 0px;
}

#Loading {
    color:#fff;
    position: absolute;
    top:45%;width: 100%;
    padding: 5px;
    margin: 0px;
    z-index: 10;
    font-size: 30px;
}
#coords{ width:136px; height:60px; top:0px;position:absolute;
         background-color:rgba(255,255,255,0.1);color:white ;
         z-index:3;font-weight:normal }
#allDevice,#searchBanner,#packUpDiv{ 
    position:absolute;
    background-color:rgba(255,255,255,0.1);
    /* color:#5087c3 ; */
    z-index:3;
    font-weight:normal;
}
/* #allDevice{
    width:500px;
    height: 530px;
    position:absolute;
    background-color:rgba(255,255,255,0.1);
    color:#305680;
    z-index:3;
    font-weight:normal;
    } */
#allDevice{
    top:110px;
    width:500px; 
    color:#305680;
    /* height: 450px; */
    display: none;
}
#searchBanner{
    top:75px;
    left: 30px;
    /* width:470px;  */
    width: 0px;
    height: 35px;

}

#showDeviceInfo{
    top:190px;
    right: 15px;
    height: 390px;
    background-color:rgba(49, 47, 47, 1);
    color:#5087c3;
    width:500px;
    position:absolute;
    z-index:3;
    font-weight: bold;
    border-radius:12px;
}
#allDeviceTable tr td{
    width: 50%;
    cursor: pointer;
}
#searchDeviceDiv{
       float: left;
       opacity: 0;
       width: 85%;
       padding-left: 15px;
       /* display: none; */
}
#searchDevice{
    width: 345px;
}
#showDevice{
    font-weight: bold;
}
#addModel{
    top:150px;
    right: 550px;
    height: 300px;
    width:265px;
    background-color:rgba(49, 47, 47, 1);
    color:#5087c3;
    position:absolute;
    z-index:3;
    font-weight: bold;
    border-radius:12px;
}
#tabs{
    background-color:rgba(49, 47, 47, 1);
    color:#5087c3;
}
#arrow{
    top: 75px;
    position: absolute;
    width: 180px;
    height: 440px;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    z-index: 0;

}
#arrow .active {
    display: block;
    color: #000;
    padding: 15px 20px;
    text-decoration: none;
    text-align: left;
    border-bottom: 1px dashed #000000;
    cursor: pointer;

}
#arrow .active:hover{
    color: #5087c3;

}
.centerMove{
    margin-left: 20px;
}


#icon{
    font-size: 20px;
    color: white;
    margin-top: 8px;
    margin-right: 15px;
   
}
#iconSpan{

    margin-right: 5px;
    cursor: pointer;
    display: none;
}
#packUp{
    font-size: 20px;
    color: white;
    margin-top: 8px;
    margin-left: 15px;
}
#packUpSpan{
    float: left;
    cursor: pointer;
}
#packUpDiv{
    top: 75px;
    width: 30px;
    float: left;
    height: 35px;
}
#pre,#next{
    opacity: 0.2;
    margin-bottom: 20px;
}
#backList{
    float: right;
    margin-right: 12px;
    cursor: pointer;
    color: white;

}
.fontColor{
    color: #5087c3;
    text-align: left;
    margin-left: 0px;
    position: relative;
}
#updatePosition{
    top:150px;
    right: 550px;
    height: 400px;
    width:230px;
    background-color:rgba(49, 47, 47, 1);
    color:#5087c3;
    position:absolute;
    z-index:3;
    font-weight: bold;
    border-radius:12px;
}
.fontColors{
    color: #5087c3;
    text-align: left;
    margin-left: 5px;
    position: relative;
}
.fileInput{
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.fileInput input{
    position: absolute;
    right: 0px;
    top: 0px;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
}
.control-label{
    color: #5087c3;
}

/*显示提示框---菜单*/
#packUpSpan {
    position: relative;
    display: inline-block;
    
}

#packUpSpan .tooltiptext {
    visibility: hidden;
    width: 55px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -15px;

}

#packUpSpan .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

#packUpSpan:hover .tooltiptext {
    visibility: visible;
}


/*======================================
    GENERAL STYLES
======================================= */

.b-clr {
    color:#000;
}
.sec-menu {
    background-color:#305680;
    padding-top:20px;
    padding-bottom:15px;
    color:#fff;
    font-size:22px;

}
.content-wrapper {
    min-height:1000px;
    background: rgb(238,238,238);
    padding-left: 45px;
}

/* =============================================================
HEAD MENU STYLES
============================================================ */

.upSideMenu{
    font-size: 16px;
    margin-left: 25px;
}
#firstSpan{
    margin-left: 70px;
}
#quit,#backIcon{
    cursor: pointer;
}
#headMenuFont{
    /*color: #cacaca;*/
    font-family: 'Adobe 黑体 Std R';
    font-size: 26px;
    font-weight: bold;
    margin-left: 50px;
}
/*#wrap{
    overflow: hidden;
    white-space: nowrap;
}
#wrap div {
    display: inline-block;
    !*float: left;*!

}*/




/* =============================================================
   SIDE MENU STYLES
 ============================================================ */

#side-menu {
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: #305680;
    color: #fff;
    z-index: 999;
    overflow: auto;
    max-width: 500px;

}

    #side-menu ul {
        list-style: none;
        padding: 0px;
    }

        #side-menu ul li {
            border-bottom: 1px solid #2a4c70;
            padding: 21px 25px;
            text-align: left;
        }

            #side-menu ul li a i {
                padding-right: 10px;
            }

            #side-menu ul li a, #side-menu ul li a:hover {
                color: #cad4df;
                text-decoration: none;
                font-size: 16px;
            }

.menu-close-icon, .menu-open-icon {
    cursor: pointer;

}
.fontStyle{
    font-size: 20px;
}
.textStyle{
    font-size: 18px;
    font-weight: bold;
}
#searchKey{
    height: 34px;
}
#attrSelectInfoTd{
    vertical-align: middle;
}





/* =============================================================
ICON STYLES
============================================================ */

ul,li{
    list-style: none;

}

.homeIconBackground{
    width: 200px;
    height: 200px;
    background:#305680;
    border-radius: 30px;
    margin-top: 50px;
    margin-left: 150px;
    float: left;
    cursor: pointer;

}
.homeIcon{

    color: #ffffff;
    font-size: 50px;
    margin-top: 50px;
    margin-left: 70px;
}
.homeIconName{
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}
.chooseBtn{
    margin-top: 25px;
    margin-left: 20px;
    cursor: pointer;
    padding: 20px;
    width: 150px;
    height: 100px;
    border: 2px solid #c0c0c0;
    float: left;
    border-radius: 10px;
    background: white;
}
.chooseBtn div i{
    color: #305680;
    font-size: 30px;
    text-align: center;
    display: block;

}
.chooseBtn div p{
    text-align: center;
    margin-top: 10px;
}

/* =============================================================
DEVICELIST STYLES
============================================================ */
#deviceListIcon,#customerIcon,#customerUserIcon{
    width: 48%;
    float: left;
    padding-left: 10px;
}

#deviceListChart,#customerChart,#customerUserChart{
    width: 40%;
    float: right;
    border: 1px solid #c0c0c0;
    border-radius: 10px;
    margin-right: 20px;

}

.attName{
  font-weight: bold;
  width: 150px;
  text-align: center;
}

.inputInfo{
    width: 90%;
}

.input-err{

    border: 2px solid #ff3c3c;
}
.showForm table tbody tr td{
   width: 30%;
   text-align: center;
}
.boldForm{
    font-weight: bold;

}
.highlight{
    color: #305680;
}
.divide-line{
    border-top: 2px solid #c0c0c0;
}
.ctrlDivBtn{
    margin-left: 60px;
    margin-top: 5px;
}
.pagination li{
    cursor: pointer;
}
#preDevice,#nextDevice{
    margin-top: 17%;
    width: 2%;
    height: 30px;
    float: left;
    background: #c0c0c0;
    opacity: 0.3;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    color: #7e7e7e;
}
#nextDevice{
    margin-right: 40px;
}
.service-panel{
    background: #c0c0c036;
    border-radius: 10px;
}
.service-panel legend{
    text-align: center;
}
#showHistory,#showEvent{
    font-size:20px;
    margin-left:10px;
    cursor:pointer;
    color:#305680;
}
#showEventTable th,#showEventTable tr{
    width: 20%;
    text-align: center;
}




/* =============================================================
    HomePage
 ============================================================ */
.content{
    margin:30px 0 0 70px;
    height:100%;
    overflow:hidden;
}
.block{
    height: 200px;
    width: 30%;
    float: left;
    border: 1px solid rgba(43, 76, 227, 0.2);
    margin:10px 15px;
    text-align: center;
}
.block_number{
    font-size: 80px;
    font-weight: bold;
    color: #3a87ad;
}
.block_title{
    font-size: 25px;
    color: #1964ad;
    padding-top: 15px;
}
.no_broadcast{
    text-align: center;
    font-size: 25px;
    line-height: 200px;
    color: rgba(43, 76, 227, 0.4);
}


#detailShow{
    padding:15px;
    margin-top:30px;
    margin-left: 7px;
    background-color: #ffffff;
    height:615px;
    width: 520px;
    top: 110px;
    border-bottom: 2px solid #c0c0c0;
    border-left: 2px solid #c0c0c0;
    border-right: 2px solid #c0c0c0;
    position: fixed;

}
#detailShow h2{
    color: #337ab7;
    font-family: "Anonymous Pro", "Menlo", "Consolas", "Bitstream Vera Sans Mono", "Courier New", monospace;
    padding-bottom: 20px;
}
.lineSpacing{
    padding-top: 10px;
    text-align: left;
    font-family: 微软雅黑;
}
.underLine{
    border-bottom:1px solid #000000;
}
#tenantAdministrator{
    padding:15px;
    margin-top:30px;
    margin-left: 7px;
    background-color: #ffffff;
    height:615px;
    width: 520px;
    top: 110px;
    border-bottom: 2px solid #c0c0c0;
    border-left: 2px solid #c0c0c0;
    border-right: 2px solid #c0c0c0;
    position: fixed;
    overflow-y: auto;

}

.deviceDetailStyle{
    position: absolute;
    z-index: 11;
    width: 100%;
    
    
}
.myDetail{
    width: 600px;
    margin:60px 10px;
    height: 500px;
    display: none;
}
