body {
    background-color: #fff;
    margin: 0px;
    overflow: hidden;
    font-size:14px;
    text-align:center;
    font-weight: bold;

    font-family: "Microsoft YaHei";
}
#info {
    color:#fff;
    position: absolute;
    top: 0px; width: 100%;
    padding: 5px;
    margin: 0px middle;
}
#Loading {
        color:#fff;
        position: absolute;
        top:45%;width: 100%;
        padding: 5px;
        margin: 0px middle;
        z-index: 10;
        font-size: 30px;
    }
#coords{ width:136px; height:60px; top:0px;position:absolute;
         background-color:rgba(255,255,255,0.1);color:white ;
         z-index:3;font-weight:normal }
#allDevice{ 
    width:500px; 
    height: 530px;
    position:absolute;
    background-color:rgba(255,255,255,0.1);
    color:#305680;
    z-index:3;
    font-weight:normal;
    top:75px;
    border-radius: 12px;
    }

#showDeviceInfo{
    top:150px;
    right: 15px;
    height: 390px;
    background-color:rgba(49, 47, 47, 1);
    color:#5087c3;
    width:500px; 
    position:absolute;
    z-index:3;
    font-weight: bold;
    border-radius:12px;
}
#allDeviceTable tr td{
        width: 50%;
        cursor: pointer;
}
#searchDeviceDiv{
       width: 100%;
       opacity: 0.2;
}
#showDevice{
    font-weight: bold;
}
#addModel{
    top:150px;
    right: 550px;
    height: 270px;
    background-color:rgba(49, 47, 47, 1);
    color:#5087c3;
    width:270px;
    position:absolute;
    z-index:3;
    font-weight: bold;
    border-radius:12px;
}
#arrow{
    top: 75px;
    position: absolute;
    width: 10px;
    height: 5px;
    margin-left: -10px;

}
